body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

footer {
    background-color: #f8f8f8;
    padding: 10px 0;
    text-align: center;
}

main {
    padding: 20px;
}
