{{ define "footer" }}
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-social">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="https://twitter.com/BachErik_live" target="_blank">X(formally known as Twitter)</a></li>
                    <li><a href="https://instagram.com/BachErik_live" target="_blank">Instagram</a></li>
                    <li><a href="https://youtube.com/@BachErik_live" target="_blank">YouTube</a></li>
                    <li><a href="https://twitch.tv/BachErik_live" target="_blank">Twitch</a></li>
                    <li><a href="https://discord.gg/9K8hVWcjFW" target="_blank">Discord</a></li>
                    <li><a href="https://mastodon.social/@BachErik" target="_blank">Mastodon</a></li>
                    <p>Email me: <a href="mailto:killedby@bacherik.de">killedby@bacherik.de</a></p>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Killed by Google, Apple, Microsoft and BachErik</p>
        </div>
    </footer>
    <style>
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            flex-direction: column;
        }
        main {
            flex: 1;
        }
        footer {
            background-color: #1e1e1e;
            color: #e0e0e0;
            padding: 20px;
            box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
        .footer-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 100%;
            max-width: 1200px;
        }
        .footer-links, .footer-social {
            margin: 20px;
        }
        .footer-links ul, .footer-social ul {
            list-style: none;
            padding: 0;
        }
        .footer-links ul li, .footer-social ul li {
            margin: 10px 0;
        }
        .footer-links a, .footer-social a {
            color: #bb86fc;
            text-decoration: none;
        }
        .footer-links a:hover, .footer-social a:hover {
            text-decoration: underline;
        }
        .footer-bottom {
            margin-top: 20px;
        }
    </style>
{{ end }}
