<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <header>
        <h1>Companies</h1>
        <ul>
            {{ range $company, $logo := .Companies }}
            <li><a href="{{ $company }}/"><img src="{{ $logo }}" alt="{{ $company }}" /></a></li>
            {{ end }}
        </ul>
    </header>
    <main>
        <h1>Projects</h1>
        <ul>
            {{ range .Projects }}
            <li>
                <a href="{{ .Company }}/{{ .Name }}.html" style="color: {{ index $.Types .Type }}">
                    {{ .Name }}
                </a> - {{ .Description }}
                <br>
                <a href="{{ .Link }}">{{ .Link }}</a>
                <br>
                Opened: {{ .DateOpen }} Closed: {{ .DateClose }}
            </li>
            {{ end }}
        </ul>
    </main>
    <footer>
        <p>&copy; 2024 My Static Site</p>
    </footer>
</body>
</html>
