{{ define "project" }}
{{ template "header" . }}
<div class="project-container">
    <h1>{{ .Project.Name }}</h1>
    <!-- Dedicated section for Description -->
    <div class="project-description">
        <p>{{ .Project.Description }}</p>
    </div>
    <!-- Section for other details -->
    <div class="project-details">
        <p><strong>Developer/Company:</strong> {{ .Project.Company }}</p>
        <p><strong>Released:</strong> {{ .Project.DateOpen }}</p>
        <p><strong>Discontinued:</strong> {{ .Project.DateClose }}</p>
        <p><strong>Lifespan:</strong> {{ calculateLifespan .Project.DateOpen .Project.DateClose }} years</p>
        <p><strong>Type:</strong> {{ .Project.Type }}</p>
        <p><strong>Source:</strong> <a href="{{ .Project.Link }}" target="_blank">{{ domainOnly .Project.Link }}</a></p>
    </div>
</div>
<style>
    .project-container {
        max-width: 800px;
        margin: 40px auto;
        padding: 20px;
        background-color: #1e1e1e;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        color: #e0e0e0;
    }

    .project-description {
        padding: 20px;
        background-color: #292929;
        /* slightly lighter shade for emphasis */
        border-radius: 8px;
        margin-bottom: 20px;
        /* space between description and details */
    }

    .project-details p {
        margin: 10px 0;
        line-height: 1.6;
    }

    .project-details a {
        color: #bb86fc;
    }

    .project-details a:hover {
        text-decoration: underline;
    }
</style>
{{ template "footer" . }}
{{ end }}